<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APITestProjectSuite" parallel="tests" data-provider-thread-count="3">
  <test name="APITest">
    <classes>
      <class name="RunCucumberTest"> </class>
    </classes>
  </test>
  <!-- APITest -->
  <test verbose="2" preserve-order="true" name="SoapTests">
    <groups>
      <run>
        <include name = "soap"/>
      </run>
    </groups>
    <classes>
      <class name="Api.SoapServiceTests"/>
    </classes>
  </test>
  <test verbose="2" preserve-order="true" name="RestTests">
    <groups>
      <run>
        <include name = "rest"/>
      </run>
    </groups>
    <classes>
      <class name="Api.GoRestApiTests"/>
    </classes>
  </test>
</suite> <!-- APITestProjectSuite -->
