<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="APITestProjectSuite" parallel="tests">
  <test name="APITest">
    <classes>
      <class name="RunCucumberTest"> </class>
    </classes>
  </test> <!-- APITest -->
</suite> <!-- APITestProjectSuite -->
